<div class="main-body">
    <h1 class="heading-primary-h1">Edit Article</h1>
    <img src="" alt="">
    <%= render 'shared/errors', obj: @article %>
    <div class="container shadow-sm mt-4">
        <%= form_with(model: @article, url: update_article_path, local: true) do |f|%>
          <div class="mb-3">  
          <%= f.label :title, :class=>"form-label"%>
          <%= f.text_field :name, placeholder: "Blog Title" , :class=>"form-control"%>
        </div> 


    
          <% if @article.photo.attached?%>
          <div class="img-container p-3"> 
          <img class="img-fluid" id="img_prev"  src="<%=(url_for(@article.photo))%>" alt="">
          </div>
          <% else%>
          <div class="container shadow-sm mt-4">

          <img class="img-fluid" class="img-fluid" id="img_prev"  src="<%= asset_path('upload_image.png')%>" alt="">
          </div>
          <% end %>
       

        <div class="mb-3">
        <%= f.label :"Select Hero Image",:class=>"form-label"%>
        <%= f.file_field :photo,:class=>"form-control form-control-lg image-upload"%>
        </div>
        <div class="mb-3"> 
        <%= f.label :category, :class=>"form-label"%>
        <%= f.collection_select :category_ids, Category.all, :id, :name, {prompt: "Please select a Category(can be empty)"}, {multiple: true, class: "form-select"} %>
    </div> 
    <div class="mb-3">
        <div class="mb-3">
          <%= f.label :"Blog Body", :class=>"form-label"%>
          <br/>
          <%= f.rich_text_area :fullbody, wrap: "hard", placeholder: "Whats on your mind" ,:class=>"form-control blog-body"%>
        </div>
        <div class="d-flex flex-row-reverse">
        <%= link_to 'Cancel',articles_path, class: 'btn btn-danger' %> 

        <%= f.button :submit, :class=>"btn btn-post" do %>
        <i class='fa fa-paper-plane'></i> post
        <% end %>
        </div>

        <% end %>
    </div>

</div>


    <script>
    
    const uploadImageInput = document.getElementById("article_photo")
    const output = document.getElementById('img_prev');
    uploadImageInput.onchange = function(){
        console.log('file change')
        
        var reader = new FileReader();
        reader.onload = function(){
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    
    </script>