
<div class="hero-image-container">
<% if @article.photo.attached?%>
<img class="img-fluid" id="img_hero"  src="<%=(url_for(@article.photo))%>" alt="">
<% end %>
    <div class="hero-image-heading-container">
        <h1 class="hero-image-heading-text"><%= @article.name%></h1>
    </div>
    <%= link_to articles_path, class:"link-articles-list" do %>
        <button class="btn-icon-list" data-toggle="tooltip" data-placement="bottom" title="Articles list">
             <i class="fas fa-arrow-circle-left"></i>
         </button>
       
        <%end%>
   
</div>

<div class="container">
    <div class="top-info-container mt-4 mb-5">
        <div class="time">
        <p>By: <%= link_to @article.user.username, user_path(@article.user)%></p>

            <div class="time-created"> 
                 <i class="far fa-calendar-alt"></i>                 
                Created at <%= time_ago_in_words(@article.created_at) %> ago
            </div>
            <div class="time-created"> 
            <i class="far fa-edit"></i>                 
           Updated at <%= @article.updated_at.strftime("%A, %d %B %Y") %>
       </div>
        </div> 
        <%if logged_in? && current_user == @article.user %>
            <div class="action-icons">
            <%= link_to edit_article_path(@article) do %>
                <button class="btn-icon" data-toggle="tooltip" data-placement="bottom" title="Edit">
                    <i class="far fa-edit"></i>
                </button>
            
                <%end%>
            <%= link_to delete_article_path(@article), method: :delete, data: {confirm: "Are you sure?"} do %> 
                <button class="btn-icon" id="delete-icon" data-toggle="tooltip" data-placement="bottom" title="Edit">
                <i class="fas fa-trash-alt"></i>
            </button>
        
                <%end%>
            </div>
        <%end%>
    </div>

    <p><%= @article.fullbody%> </p>
   
</div>

